*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 1250px) {
  html {
    font-size: 45%;
  }
}

.main-container {
  width: 50%;
  margin: 5rem auto;
  text-align: center;
}

.city-vector {
  width: 100%;
  border-radius: 5px;
}

.cloud {
  position: absolute;
  top: 5.5rem;
  left: 48rem;
  transition: all 1s;
  filter: brightness(50%);
}

.hidden {
  transform: translateX(-100rem);
  opacity: 0;
}

.cloud-1 {
  transition: all .8s;
  left: 48.5rem;
}

.cloud-2 {
  transition: all 2s;
  left: 64rem;
}

.cloud-3 {
  transition: all 1.2s;
  left: 84rem;
}

.cloud-4 {
  transition: all 2.5s;
  left: 95rem;
}

.cloud-5 {
  transition: all 2.7s;
  left: 113rem;
}