*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes pulse { 50% { -moz-transform: scale(.96); } 100% { -moz-transform: scale(1); } }
@-webkit-keyframes pulse { 50% { -webkit-transform: scale(.96); } 100% { -webkit-transform: scale(1); } }
@keyframes pulse {50% { -webkit-transform: scale(.96); transform:scale(.96); } 100% { -webkit-transform: scale(1); transform:scale(1); } }

@keyframes scrolling {50% { background-position: -50px -150%; } 100% { background-position: -100px -300%; }}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 1450px) {
  html {
    font-size: 48%;
  }
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 38%;
  }
}

@media only screen and (max-width: 650px) {
  html {
    font-size: 30%;
  }
}

@media only screen and (max-width: 335px) {
  html {
    font-size: 25%;
  }
}

.main-container {
  width: 50%;
  min-width: 280px;
  margin: 4rem auto;
  padding-bottom: 15rem;
  text-align: center;
}

@media only screen and (max-width: 1250px) {
  .main-container {
    width: 65%;
  }
}

@media only screen and (max-width: 900px) {
  .main-container {
    width: 75%;
  }
}

@media only screen and (max-width: 650px) {
  .main-container {
    width: 100%;
  }
}

.display-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.city-vector {
  width: 100%;
  border-radius: 25px 25px 5px 5px;
}

@media only screen and (max-width: 650px) {
  .city-vector {
    border-radius: 0;
  }
}

.sun {
  position: absolute;
  top: -20%;
  right: -12%;
  transition: transform 1s, opacity 2s, width 2s, top 1s, right 1s;
  width: 30%;
  -webkit-animation:spin 25s linear infinite;
  -moz-animation:spin 25s linear infinite;
  animation:spin 25s linear infinite;
}

.sun-hidden {
  top: 14rem;
  right: -30rem;
  opacity: 0;
}

.sun-small {
  width: 25%;
}

.sun-big {
  width: 35%;
}

.cloud {
  position: absolute;
  top: 1%;
  transition: opacity 5s;
  width: 30%;
  -webkit-animation:pulse 4s linear infinite;
  -moz-animation:pulse 4s linear infinite;
  animation:pulse 4s linear infinite;
}

.cloud-dark {
  filter: brightness(50%);
}

.cloud-1 {
  transition: all .8s;
  left: 1%;
}

.cloud-2 {
  transition: all 2s;
  left: 21%;
}

.cloud-3 {
  transition: all 1.2s;
  left: 36%;
}

.cloud-4 {
  transition: all 2.5s;
  left: 56%;
}

.cloud-5 {
  transition: all 2.7s;
  left: 69%;
}

.hidden {
  left: -30rem !important;
  transition: all 2s;
  opacity: 0;
}

.rain {
  position: absolute;
  top: 22%;
  width: 110%;
  height: 53%;
  left: -5%;
  opacity: .6;
  transition: all 1.2s;
  background-size: 100%;
  background-repeat: repeat;
  animation: scrolling 4s linear infinite;
}

.rain-hidden {
  transform: translateY(-80rem);
  opacity: 0;
}

.display-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90.15%;
  background-color: black;
  opacity: 0;
  transition: all 1s;
  background-size: cover;
  border-radius: 25px 25px 15px 15px;
  z-index: 0;
}

@media only screen and (max-width: 650px) {
  .display-filter {
    border-radius: 0;
  }
}

.display-filter-dark {
  opacity: .19;
}

.display-filter-darker {
  opacity: .26;
}

.weather-values {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  padding: 3rem 0;
  margin-top: -1rem;
  position: relative;
  text-transform: uppercase;
  color: white;
  z-index: 25;
  background-color: rgba(215,86,44,1);
  border-radius: 0;
  border: 1.8px solid rgba(0,0,0,.78);
  border-width: 1.8px 1.8px 1.8px 1.8px;
  font-family: sans-serif;
  letter-spacing: .3rem;
}

.loading-message {
  position: absolute;
  top: 10rem;
  left: 50%;
  font-size: 3rem;
  transform: translateX(-50%);
  color: rgba(245,106,64,1);
  opacity: 0;
  background-color: transparent;
  border: 0;
  opacity: 0;
  user-select: none;
}

.loading-true {
  opacity: 1;
}

.location-form {
  padding: 4rem 3rem;
  background-color: rgba(50, 160, 180, 0.7);
  border-radius: 0 0 4px 4px;
  display: flex;
  align-items: center;
  border: 1.8px solid rgba(0,0,0,.78);
  border-width: 0 1.8px 1.8px 1.8px;
  justify-content: space-around;
}

.location-form__input {
  font-size: 2rem;
  border: 0;
  text-decoration: none;
  outline: none;
  padding: 1rem 4rem;
  width: 30%;
  border-radius: 5px;
  border-bottom: 3px solid transparent;
  color: rgba(0,0,0,.8);
  letter-spacing: .2rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all .5s;
}

.location-form__input:focus {
  border-bottom: 3px solid rgba(245,96,44,1);
  border-radius: 5px 5px 0 0;
}

.location-form__input::-webkit-input-placeholder {
  color: rgba(0,0,0,.4);
  letter-spacing: .2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.location-form__btn {
  background-color: rgba(25,170,25,.9);
  font-size: 2rem;
  border: 0;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 15px;
  color: white;
  letter-spacing: .2rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: all .4s;
}

.location-form__btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 .7rem 1rem rgba(0,0,0,.2); 
}

.location-form__btn:active {
  transform: translateY(2px);
  box-shadow: 0 .7rem 1rem rgba(0,0,0,.3); 
}

.location-form__btn:focus {
  outline:0;
  box-shadow: 0 0 3px 2px rgba(245,96,44,1); 
}

::selection {
  background: rgba(245,96,44,1);
  color: white; 
}

::-moz-selection {
  background: rgba(245,96,44,1);
  color: white; 
}

.bottom-nav {
  position: fixed;
  width: 100%;
  height: 4rem;
  background-color: white;
  bottom: 0;
  text-align: center;
  justify-content: center;
  font-family: sans-serif;
  z-index: 150;
}

.bottom-nav a,
.bottom-nav a:visited {
  text-decoration: none;
  color: rgba(0,0,0,.7);
  margin-right: 5rem;
  font-size: 1.7rem;
  transition: all .2s;
  margin: 0 2rem;
}

.bottom-nav a:hover,
.bottom-nav a:visited:hover {
  color: rgba(245,96,44,1);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
