.weather-values {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  padding: 3rem 0;
  margin-top: -1rem;
  position: relative;
  text-transform: uppercase;
  color: white;
  z-index: 25;
  background-color: rgba(215, 86, 44, 1);
  border-radius: 0;
  border: 1.8px solid rgba(0, 0, 0, 0.78);
  border-width: 1.8px 1.8px 1.8px 1.8px;
  font-family: sans-serif;
  letter-spacing: 0.3rem;
}
